@inherits LayoutComponentBase

<div class="main-content">
    <div class="wrapper">
        <div class="banner-bottom-arrow"></div>
        <div class="main-container">
            @Body
        </div>
    </div>
</div>
