@page "/"
@using BlazorWasm.BurmeseRecipes.Models

@if (Data is not null)
{
    <div class="container">
        <h2 class="block-title">Burmese Recipes</h2>
        <div style="display:flex;justify-content:center;">
            <MudPagination SelectedChanged="PageChanged" Count="@(Data.PageCount)" Class="pa-4" />
        </div>
        <div class="hr">
            <span class="driver"></span>
        </div>
        <div class="dt-sc-one-half column first">
            @* 1 *@
            @if (Data.DataList.Count >= 1)
            {
                <P_Card Data="Data.DataList[0]" />
            }
            @* 3 *@
            @if (Data.DataList.Count >= 3)
            {
                <P_Card Data="Data.DataList[2]" IsLast=true />
            }
        </div>
        <div class="dt-sc-one-half column">
            @* 2 *@
            @if (Data.DataList.Count >= 2)
            {
                <P_Card Data="Data.DataList[1]" />
            }
            @* 4 *@
            @if (Data.DataList.Count == 4)
            {
                <P_Card Data="Data.DataList[3]" IsLast=true />
            }
        </div>
        <div class="margin20"></div>
        <div class="hr">
            <span class="driver"></span>
        </div>
    </div>
}

@code {
    private BurmeseRecipeResonseModel? Data { get; set; }
    private int RowCount;
    private int PageNo = 1;
    private int PageSize = 4;
    protected override async Task OnInitializedAsync()
    {
        await PageChanged(1);
    }

    private int CurrentRowCount(int pageNo)
    {
        return Data.DataList.Skip((pageNo - 1) * PageSize).Take(PageSize).Count();
    }

    private async Task PageChanged(int pageNo)
    {
        Data = await Service.BurmeseRecipes(pageNo);
        PageNo = pageNo;
        StateHasChanged();
    }
}
