@page "/"

<div class="container">
    <h2 class="block-title">Featured Menu</h2>
    <div class="dt-sc-one-half column first">
        @* 1 *@
        <div class="menu">
            <div class="dt-sc-one-third column first">
                <div class="entry-thumb">
                    <a href="index_2.html#">
                        <span class="border rotate"> </span>
                        <div class="border">
                            <span class="top-right"></span>
                            <img src="images/menu/menu-img6.jpg" alt title />
                            <span class="code">Code:TOMFRY</span>
                            <span class="bottom-left"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="dt-sc-two-third column">
                <div class="entry-detail">
                    <h3>
                        <a href="index_2.html#">Tomato Special Fry - 1 Plate</a>
                    </h3>
                    <span class="price">$25.00</span>
                    <p>
                        Roin a bibendum nibh. Nunc fermentum sit amet mi nec
                        consequat. Praesent porttitor nulla sit amet dui
                        lobortis...
                    </p>
                </div>
            </div>
        </div>
        @* 3 *@
        <div class="menu last">
            <div class="dt-sc-one-third column first">
                <div class="entry-thumb">
                    <a href="index_2.html#">
                        <span class="border rotate"> </span>
                        <div class="border">
                            <span class="top-right"></span>
                            <img src="images/menu/menu-img7.jpg" alt title />
                            <span class="code">Code:TOMFRY</span>
                            <span class="bottom-left"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="dt-sc-two-third column">
                <div class="entry-detail">
                    <h3><a href="index_2.html#">Bitter Sweet - 1 Plate</a></h3>
                    <span class="price">$25.00</span>
                    <p>
                        Roin a bibendum nibh. Nunc fermentum sit amet mi nec
                        consequat. Praesent porttitor nulla sit amet dui
                        lobortis...
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="dt-sc-one-half column">
        @* 2 *@
        <div class="menu">
            <div class="dt-sc-one-third column first">
                <div class="entry-thumb">
                    <a href="index_2.html#">
                        <span class="border rotate"> </span>
                        <div class="border">
                            <span class="top-right"></span>
                            <img src="images/menu/menu-img10.jpg" alt title />
                            <span class="code">Code:TOMFRY</span>
                            <span class="bottom-left"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="dt-sc-two-third column">
                <div class="entry-detail">
                    <h3><a href="index_2.html#">Olives with Spices</a></h3>
                    <span class="price">$25.00</span>
                    <p>
                        Roin a bibendum nibh. Nunc fermentum sit amet mi nec
                        consequat. Praesent porttitor nulla sit amet dui
                        lobortis...
                    </p>
                </div>
            </div>
        </div>
        @* 4 *@
        <div class="menu last">
            <div class="dt-sc-one-third column first">
                <div class="entry-thumb">
                    <a href="index_2.html#">
                        <span class="border rotate"> </span>
                        <div class="border">
                            <span class="top-right"></span>
                            <img src="images/menu/menu-img1.jpg" alt title />
                            <span class="code">Code:TOMFRY</span>
                            <span class="bottom-left"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="dt-sc-two-third column">
                <div class="entry-detail">
                    <h3><a href="index_2.html#">Potato Croquettes</a></h3>
                    <span class="price">$25.00</span>
                    <p>
                        Roin a bibendum nibh. Nunc fermentum sit amet mi nec
                        consequat. Praesent porttitor nulla sit amet dui
                        lobortis...
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="margin20"></div>
    <div class="hr">
        <span class="driver"></span>
    </div>
</div>


@code {

}
